* {
  font: @text-font-large;
}

#window {
  children: [ mainbox ];
}

#mainbox {
  children: [ message, listview ];
}

#listview {
  layout: horizontal;
}

#element-icon {
  enabled: false;
}

#element-text {
  border-radius: @radius-huge;
}

#element-text.selected {
  background-color: @accent;
  text-color: @background;
}


@media ( max-aspect-ratio: 1.0 ) {
  #listview {
    columns: 2;
    padding: 20px 0px;
    layout: vertical;
  }
}
