! Color
*background:  {{bkg}}
*foreground:  {{fg}}

! BLACK
*color0:      {{black0}}
*color8:      {{black1}}
! RED         
*color1:      {{red0}}
*color9:      {{red1}}
! GREEN       
*color2:      {{green0}}
*color10:     {{green1}}
! YELLOW      
*color3:      {{yellow0}}
*color11:     {{yellow1}}
! BLUE        
*color4:      {{blue0}}
*color12:     {{blue1}}
! MAGENTA     
*color5:      {{magenta0}}
*color13:     {{magenta1}}
! CYAN        
*color6:      {{cyan0}}
*color14:     {{cyan1}}
! WHITE       
*color7:      {{white0}}
*color15:     {{white1}}

! Basic UI
Xft.dpi: 120
Xcursor.size: 12
